<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="test" connectionString="Data Source=MISHRA\SQLSERVER;Initial Catalog=society;User ID=sa;Password=mmi263" />
    <add name="testConnectionString" connectionString="Data Source=MISHRA\SQLSERVER;Initial Catalog=society;User ID=sa;Password=mmi263"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
